
.section-experience{
    margin-bottom:30px;
    padding: 5em;
}
.modal{
    width:30vw;
    height:30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

h3{ 
    color: white;
}

.reward-form {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    padding: 2rem;
    color: transparent;
    /* background-color: green; */
}

.reward-form-items {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 20%;
}

.reward-items {
    color: #fff;
    margin-right: 10px;
}

input {
 width: 50%;
}

.send-button {
    color: #fff;
}

@media(max-width: 600px){
    .modal{
        font-size:12px;
    }
}